<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
    integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>Cats Dashboard</title>
</head>

<body>
  <h1 class="text-center mt-3 mb-3">Here are all the awesome cats!</h1>
  <% cats.forEach(function(cat) { %>
  <h3>Name: <a href="/cats/<%= cat._id %>"><%= cat.name %></a></h3>
  <img src='<%= cat.img_link %>' alt='<%= cats.name %>'>
  <% }) %>
  <hr>
  <a href="/cats/new" class="btn btn-primary">Add a new cat</a>
</body>

</html>