<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
    integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
  <title>Cats Dashboard</title>
</head>

<body>
  <h1 class="text-center mt-3 mb-3">Add A New Cat</h1>
  <!-- tip to easily see objects printed in full instead of [object Object] -->
  <% JSON.stringify(messages) %>
  <!-- based on the structure of your messages, determine how to display them -->
  <% if(messages.new_cat) { %>
  <% for (var x of messages.new_cat) { %>
  <p class="text-danger"><%= x %></p>
  <% } %>
  <% } %>
  <form action="/cats" method="post">
    <div class="form-group">
      <label for="name">Name: </label>
      <input type="text" class="form-control" name="name">
    </div>
    <div class="form-group">
      <label for="age">Age: </label>
      <input type="number" class="form-control" name="age">
    </div>
    <div class="form-group">
      <label for="color">Color: </label>
      <input type="text" class="form-control" name="color">
    </div>
    <div class="form-group">
      <label for="favorite_food">Favorite Food: </label>
      <input type="text" class="form-control" name="favorite_food">
    </div>
    <div class="form-group">
      <label for="img_link">Link To Cat's Image: </label>
      <input type="text" class="form-control" name="img_link">
    </div>
    <button type="submit" class="btn btn-primary">Add Cat</button>
  </form>
</body>

</html>